.list {
    display: flex;

    list-style-type: none;
}

.list.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.list.projects {
    flex-wrap: wrap;
    margin-bottom: 94px;
}